@import 'src/styles/variables.scss';

.main {
    color: $gray1;
    text-align: center;
}

.octicon {
    fill: $gray1;
    opacity: 0.5;
    transition: opacity 200ms linear;
    width: 40px;

    &:hover{
        opacity: 0.9;
    }
}
