@import 'src/styles/variables.scss';

.main {
    background-color: $light-gray5;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.cellsContainer {
    width: 0;
    height: 0;
    position: relative;
}
