@import 'src/styles/variables.scss';

$contentHeight: 24px;
$padding: 10px;

$controlMarginBottom: 10px;

.controls {
    height: 100%;
    box-sizing: border-box;
    width: 300px;
    background-color: $light-gray1;
    border-right: 1px solid $gray3;
    flex-shrink: 0;
    flex-grow: 0;
    line-height: $contentHeight;
    padding: $padding;
    display: flex;
    flex-direction: column;

    :global {
        button {
            width: 100%;
            padding: 5px 10px;
            min-height: 33px;
        }

        input[type=checkbox]{
            //position: absolute;
            //top: 0;
            //left: 0;
            cursor: pointer;
            margin: 5px 5px;
            background-color: $light-gray5;
            height: 20px;
            width: 20px;
        }
    }
}

.control {
    display: flex;
    margin-bottom: $controlMarginBottom;
    white-space: nowrap;
}

.rules{
    :global{
        input{
            width: 40px;
            padding: 0 5px;
        }
    }

    margin-bottom: 10px;
}

.rangeLabel {
    line-height: 30px;
    margin-right: 5px;
}

.separator {
    background-color: $gray3;
    height: 1px;
    margin-top: $controlMarginBottom * 1;
    margin-bottom: $controlMarginBottom * 2;
    margin-left: -$controlMarginBottom;
    margin-right: -$controlMarginBottom;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.hint{
    text-align: center;
    margin-bottom: $controlMarginBottom;
}
.icon{
    margin-right: 5px;
}

.selectBox{
    width: 100%;
}

.name{
    margin-right: 10px;
}
